.Product-header{
    border-top: 1px solid black;
    padding-top: 10px;
    margin: 5px;
    margin-bottom: 30px;
}

.Product-header h1{
    margin: 0px;
    display: flex;
    justify-content: center;
}

.Products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);

}

