
.product-card {
    border: 3px solid rgb(185, 185, 185);
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    height: 320px;
    width: 450px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
}

img {
    height: 50%;
    width: 50%;
    padding: 20px 10px 10px 10px;
}

.timer-button{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}